version: '3.7'

services:
  web:
    image: 'docker.pkg.github.com/hobroker/thyn/thyn:${TAG:-latest}'
    ports:
      - '${DOCKER_WEB_PORT:-8080}:${PORT:-8080}'
    volumes:
      - app:/usr/src/code
      - ./.env:/usr/src/code/.env

  scheduler:
    image: node:12.13-alpine
    working_dir: /usr/src/code
    command: npm run start:scheduler
    depends_on:
      - "web"
    environment:
      - NODE_ENV
    volumes:
      - app:/usr/src/code
volumes:
  app:
