version: '3.7'

services:
  web:
    image: ${TAG:-hobroker/thyn:latest}
    build: .
    environment:
      - NODE_ENV
      - GITHUB_TOKEN
    ports:
      - '${DOCKER_WEB_PORT:-8080}:${PORT:-8080}'
    volumes:
      - app:/usr/src/code

  scheduler:
    image: node:12.13-alpine
    working_dir: /usr/src/code
    command: npm run start:scheduler
    environment:
      - NODE_ENV
    volumes:
      - app:/usr/src/code
volumes:
  app:
