version: 2
jobs:
  deploy: &deploy
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "10:a5:de:e3:e5:36:b2:d7:46:15:96:63:93:cb:a6:3b"
      - run:
          name: fix host authenticity
          command: ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts
      - checkout
      - run:
          command: |
            touch .env
            echo "TAG=${TAG}" >> .env
            echo "DOCKER_WEB_PORT=${DOCKER_WEB_PORT}" >> .env
            echo "BASE_URL=${BASE_URL}" >> .env
            echo "MONGO_CONNECTION_STRING=${MONGO_CONNECTION_STRING}" >> .env
            echo "SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}" >> .env
            echo "SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}" >> .env
            scp .env docker-compose.yml $SSH_USER@$SSH_HOST:/root/apps/thyn-stage
            ssh $SSH_USER@$SSH_HOST << EOF
              cd /root/apps/thyn-stage
              docker-compose down -v --remove-orphans
              docker-compose up -d --renew-anon-volumes
            EOF
  deploy-stage:
    <<: *deploy
  deploy-prod:
    <<: *deploy

workflows:
  version: 2
  deploy:
    jobs:
      - deploy-stage:
          filters:
            branches:
              only: stage
          context: thyn-stage
      - deploy-prod:
          filters:
            branches:
              only: master
          context: thyn-prod
