version: 2
jobs:
  publish:
    machine: true
    steps:
      - run:
          name: Docker login
          command: docker login https://docker.pkg.github.com --username hobroker --password ${GITHUB_PACKAGES_TOKEN}
      - checkout
      - run:
          name: Build and push
          command: |
            IMAGE_TAG="docker.pkg.github.com/hobroker/thyn/thyn:${TAG}"
            docker build . -t ${IMAGE_TAG}
            docker push ${IMAGE_TAG}

  deploy: &deploy
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "10:a5:de:e3:e5:36:b2:d7:46:15:96:63:93:cb:a6:3b"
      - run:
          name: Fix host authenticity
          command: ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts
      - checkout
      - run:
          name: Create .env
          command: |
            touch .env
            echo "TAG=${TAG}" >> .env
            echo "DOCKER_WEB_PORT=${DOCKER_WEB_PORT}" >> .env
            echo "BASE_URL=${BASE_URL}" >> .env
            echo "MONGO_CONNECTION_STRING=${MONGO_CONNECTION_STRING}" >> .env
            echo "SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}" >> .env
            echo "SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}" >> .env
      - run:
          name: Copy .env to the server
          command: scp .env docker-compose.yml $SSH_USER@$SSH_HOST:/root/apps/thyn-${TAG}
      - run:
          name: Deploy
          command: |
            ssh $SSH_USER@$SSH_HOST << EOF
              cd /root/apps/thyn-${TAG}
              docker-compose down -v --remove-orphans
              docker-compose up -d --renew-anon-volumes
            EOF
  deploy-stage:
    <<: *deploy
  deploy-prod:
    <<: *deploy

workflows:
  version: 2
  deploy:
    jobs:
      - publish
      - deploy-stage:
          requires:
            - publish
          filters:
            branches:
              only: stage
          context: thyn-stage
      - deploy-prod:
          requires:
            - publish
          filters:
            branches:
              only: master
          context: thyn-prod
