version: 2
jobs:
  test:
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "1f:ce:18:d8:ea:61:84:e2:bc:0a:cb:e5:45:6c:a7:03"
      - checkout
      - run:
          command: |
            ls -la
            pwd

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
