name: CI

on: [push]

jobs:
  ci:
    strategy:
      matrix:
        node-version: [12]
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v1.1.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install packages
        run: npm ci
      - name: Run Tests with coverage
        run: npm load test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          yml: ./codecov.yml
          fail_ci_if_error: true
