name: Deploy

on:
  push:
    branches:
      - master
      - stage

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Prepare .env
        run: >
          echo $VERSION
#          cp "envs/${VERSION}${ENV_FILE}" ${ENV_FILE}
#      - name: Down to hell
#        run: docker-compose down -v --remove-orphans
    env:
      DOCKER_HOST: ${{ secrets.DOCKER_HOST }}
      VERSION: ${{ GITHUB_HEAD_REF }}
